<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Savics</title>

</head>
<body>
    <h1>Welcome to Savics Medical Record</h1>

    <a href="/records">Get All medical records</a>

    <form action="/" method="POST">
        <h1 class="center">Create a new record</h1>
        <div class="user-info">
            <h2>User Information</h2>
            <div class="field">
                <label for="First Name">First Name</label>
                <input type="text" placeholder="First Name" name="first_name" required>
            </div>

            <div class="field">
                <label for="last name">Last Name</label>
              <input type="text" placeholder="Last Name" name="last_name" required>
            </div>

            <div class="field">
                <label for="Email">Email Address</label>
                <input type="email" placeholder="Email Address" name="email" required>
            </div>
           
           <div class="field">
              <label for="age">Age</label>
              <input type="number" name="age" placeholder="Age" required>
           </div>

           <div class="field">
               <label for="gender">Gender</label>
               <select name="gender" id="" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
           </div>
            
           <div class="field">
               <label for="">City</label>
               <input type="text" name="city" placeholder="City" required>
           </div>

           <div class="field">
               <label for="">State</label>
               <input type="text" name="state" placeholder="State" required>
           </div>
        </div>

        <div class="medical-info">
            <h2>Medical record Information</h2>
            <div class="field">
                <label for="">Title</label>
                <input type="text" name="record_title" placeholder="Title" required>
            </div>
            <div class="field">
                <label for="">Description</label>
                <input type="text" name="record_description" placeholder="Description" required>
            </div>

            <div class="field">
                <label for="">Has CoronaVirus</label>
                <input type="checkbox" name="has_coronavirus" id="" placeholder="Has CoronaVirus">
            </div>
        </div>
        <input type="submit" value="Add a record">
    </form>
</body>
</html>